/* Kleuren toedienen aan elementen waar niks mee gedaan wordt */

.st0 {
    fill: #020403;
}

.BigRedshape {
    fill: #CC0000;
}

.st4 {
    opacity: 0.75;
    fill: #6A2500;
}

.st6 {
    fill: #126E15;
}

.st7 {
    fill: #FFD600;
}

.st8 {
    fill: #F3E200;
}

.st9 {
    fill: #277800;
}

.st10 {
    fill: #070908;
}

.st10:hover {
    fill: white;
    cursor: pointer;
}


/* Body */

body {
    background-color: black;
}


.BlueCircleAdd {
    background-color: #0049C6;
    clip-path: circle(50%);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    z-index: -1;
    
    animation-name: Bigcircle;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes Bigcircle{
    0%{
        clip-path: circle(50%);
        opacity: 1;
        z-index: 0;
    }
    95%{
        clip-path: circle(0%);
        opacity: 0;
        z-index: 0;
    }
    100%{
        z-index: -1;
    }
    
    
}



/* Gemaakt door Michael Varenhorst text dat langzaam in animeert*/

.credits {
    color: white;
    writing-mode: vertical-rl;
    position: fixed;
    font-family: sans-serif;
    font-size: 1em;
    height: 100%;
    letter-spacing: 1px;
    text-align: center;

    animation: Credits 10s ease-in;

}

@keyframes Credits {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100 {
        opacity: 1;
    }
}


/* Opmaak tekst begin*/

.progress {
    color: white;
    font-family: sans-serif;
    font-weight: 2000;
    font-size: 3em;
    width: 50%;
    text-align: center;
    top: 40%;
    position: absolute;
    left: 25%;
    opacity: 0;
    z-index: -100;
}

.madeBy {
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 1em;
    width: 50%;
    text-align: center;
    top: 48%;
    position: absolute;
    left: 25%;
    opacity: 0;
    z-index: -100;
}

.progress,
.madeBy {
    animation-duration: 4s;
    animation-name: begin;
    animation-iteration-count: 1;
}

@keyframes begin {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


.BigRedshape:hover {
    animation: Vervaag 2s ease-in;
    animation-iteration-count: infinite;
    cursor: pointer
}

@keyframes Vervaag {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Blauwe kader die knippert */


.DarkBlueGlow {
    fill: #0049C6;

    animation-delay: 2s;
    animation: BlueShape ease-in;
    animation-iteration-count: infinite;
    animation-duration: 5.5s;
}

@keyframes BlueShape {
    0% {
        fill: #0049C6;
    }

    90% {
        fill: #062047;
    }

    100% {
        fill: #0049C6;
    }
}

/* Zoom in, rotate animatie [DRUK OP SPATIE] */

.ClipPath {
    animation-name: Zoom;
    animation-duration: 6s;
    animation-iteration-count: 1;

}

@keyframes Zoom {
    0% {
        clip-path: circle(80%);
    }

    50% {
        clip-path: circle(0%);
        transform: rotate(360deg);
    }

    100% {
        clip-path: circle(80%);
    }
}

/* Kunstwerk die bij opstarten langzaam tevoorschijn komt */

.svgBig {
    background-color: black;
    opacity: 1;

    animation: startUp 7s ease-in;

}

@keyframes startUp {
    0% {
        opacity: 0;
        clip-path: circle(0%);
    }

    50% {
        opacity: 0;
        clip-path: circle(10%);
    }

    100% {
        opacity: 1;
        clip-path: circle(100%);
    }
}


/* De verticale gele lijnen bovenaan het kunstwerk */

.YellowLinesUp {
    fill: #FFD600;
}


.YellowLinesUp:hover {
    fill: green;
    transform: translate(0px, 130px);
    cursor: pointer;

}

/* 
Mijn best gedaan om de lijnen los aan te spreken via psuedo-classes, maar zonder resultaat.
Daarentegen begrijp ik ze wel!

.YellowLinesGroup:last-of-type {
    display: none;
}

.YellowLinesGroup:nth-of-type(n) {
    display: none;
}

*/


/* Animaties gele vierkanten */

.YS1,
.YS2 {
    fill: #FFD600;
}

.LinkerGeleBlok {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: YellowSquareL;
}

@keyframes YellowSquareL {
    0% {
        transform: translate(0px);
        fill: #FFD600;

    }

    35% {
        transform: translate(-200px);
        fill: #DB8F07;
    }

    70% {
        transform: translate(-100px);
        fill: #DB8F07;
    }

    100% {
        transform: translate(0px);
        fill: #FFD600;
    }
}

.RechterGeleBlok {
    fill: #FFD600;

    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: YellowSquareR;
}

@keyframes YellowSquareR {
    0% {
        transform: translate(0px);
        fill: #FFD600;
    }

    35% {
        transform: translate(400px);
        fill: #DB8F07;

    }

    70% {
        transform: translate(200px);
        fill: #DB8F07;
    }

    100% {
        transform: translate(0px);
        fill: #FFD600;
    }
}

/* Rode vierkant */

.DarkRedSquare {
    fill: #650725;

}

.DarkRedSquare:hover {
    fill: #7F2F4C;
    cursor: pointer;

    animation-name: Ruitje;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes Ruitje {
    0% {
        clip-path: circle(100%);
    }

    50% {
        clip-path: circle(40%);
    }

    100% {
        clip-path: circle(100%);
    }

}



/* Blauwe rechthoek / animatie */


.DarkBlueShape {
    fill: #08256B;
}

.DarkBlueShape:hover {
    cursor: pointer;

    animation-name: DarkShapeBlue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes DarkShapeBlue {
    0% {
        fill: #08256B;
        clip-path: circle(100%);

    }

    50% {
        fill: #3D66B7;
        clip-path: circle(20%);
    }

    100% {
        fill: #08256B;
        clip-path: circle(60%);
    }
}

/* Groene rechthoek / animatie */

.DarkGreenSquare {
    fill: #126E15;

}

.DarkGreenSquare:hover {
    cursor: pointer;

    animation-name: DarkShapeGreen;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes DarkShapeGreen {
    0% {
        fill: #126E15;
        clip-path: circle(100%);
        border: 0px;
    }

    20% {
        fill: #0D490D;
        clip-path: circle(60%);
    }

    40% {
        fill: #126E15;
        clip-path: circle(40%);
    }

    60% {
        fill: #0D490D;
        clip-path: circle(50%);
        /*clip-path: polygon(20% 0, 100% 50%, 50% 100%, 0 50%);*/
    }

    80% {
        fill: #126E15;
        clip-path: circle(20%);
        /*clip-path: polygon(50% 0, 100% 50%, 20% 100%, 0 50%);*/
    }

    100% {
        fill: #0D490D;
        clip-path: circle(100%);
    }

}

/* Verstoppen van SVG van kleinere formaten */

.smallsvg {
    display: none;
}

.mediumsvg {
    display: none;
}


/* Mediaqueries Middelformaat */


@media only screen and (max-width: 1200px) and (min-width: 700px) {


    /* Verstoppen van SVG van andere formaten */
    .svgBig {
        display: none;
    }

    .smallsvg {
        display: none;
    }

    /* Middel formaat zichtbaar maken */

    .mediumsvg {
        display: inline;

        opacity: 1;
        animation: startUp2 5s ease-in;

    }

    @keyframes startUp2 {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


}


/* Gele vierkanten animaties */

.LinkerGeleBlok {
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-name: YellowSquareL;


}

@keyframes YellowSquareL {
    0% {
        transform: translate(0px);
        fill: #FFD600;

    }

    35% {
        transform: translate(-300px);
        fill: #DB8F07;
    }

    70% {
        transform: translate(-100px);
        fill: #DB8F07;
    }

    100% {
        transform: translate(0px);
        fill: #FFD600;
    }


    .RechterGeleBlok {
        fill: #FFD600;

        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-name: YellowSquareR;
    }

    @keyframes YellowSquareR {
        0% {
            transform: translate(0px);
            fill: #FFD600;
        }

        35% {
            transform: translate(400px);
            fill: #DB8F07;

        }

        70% {
            transform: translate(200px);
            fill: #DB8F07;
        }

        100% {
            transform: translate(0px);
            fill: #FFD600;
        }
    }


}


/* Mediaqueries voor mobiel formaat */

@media screen and (max-width: 700px) {


    /* Verstoppen van SVG grote formaten */

    .svgBig {
        display: none;
    }

    .mediumsvg {
        display: none;
    }

    /*Zichtbaar maken van SVG */

    .smallsvg {
        display: inline;
        opacity: 1;
        animation: startUp3 5s ease-in;

    }

    @keyframes startUp3 {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



    .YellowLinesUp {
        fill: #FFD600;
    }

    /* Kunstwerk infaden */


    .progress {
        color: white;
        font-family: sans-serif;
        font-weight: 2000;
        font-size: 1.7em;
        width: 70%;
        text-align: center;
        top: 40%;
        position: absolute;
        left: 15%;
        opacity: 0;
    }

    .madeBy {
        color: white;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 0.8em;
        width: 60%;
        text-align: center;
        top: 46%;
        position: absolute;
        left: 20%;
        opacity: 0;
    }

    .DarkBlueGlow {
        fill: #0049C6;

        animation-delay: 2s;
        animation: BlueShape3 ease-in;
        animation-iteration-count: infinite;
        animation-duration: 5.5s;
    }

    @keyframes BlueShape3 {
        0% {
            fill: #0049C6;
        }

        90% {
            fill: #062047;
        }

        100% {
            fill: #0049C6;
        }
    }


    /* Animaties gele vierkanten */

    .LinkerGeleBlok {
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-name: YellowSquareL2;



    }

    @keyframes YellowSquareL2 {
        0% {
            transform: translate(0px);
            fill: #FFD600;

        }

        35% {
            transform: translate(-100px);
            fill: #DB8F07;
        }

        70% {
            transform: translate(-75px);
            fill: #DB8F07;
        }

        100% {
            transform: translate(0px);
            fill: #FFD600;
        }
    }

    .RechterGeleBlok {
        fill: #FFD600;

        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-name: YellowSquareR2;
    }

    @keyframes YellowSquareR2 {
        0% {
            transform: translate(0px);
            fill: #FFD600;
        }

        35% {
            transform: translate(150px);
            fill: #DB8F07;

        }

        70% {
            transform: translate(100px);
            fill: #DB8F07;
        }

        100% {
            transform: translate(0px);
            fill: #FFD600;
        }
    }
